@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #fffefe;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo a {
  text-decoration: none;
  color: #111;

  color: #000000;
  font-size: 20px;
  font-weight: 600;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover {
  color: #ffffff;
  background: #000000;
}
nav .menu-btn i {
  color: #00000000;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}
@media (max-width: 480px) {
  nav {
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 480px) {
  nav .menu-btn i {
    display: block;
    color: #000000;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #ffffff;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: cyan;
  }
  nav .logo {
    font-size: 10px;
    color: #000000;
    font-weight: 50;
  }
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div {
  font-size: 40px;
  font-weight: 700;
}

.img {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  justify-content: space-around;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card {
  justify-content: space-around;
  width: 80%;
  max-width: 1000px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ddd;
  animation: fadeIn 6s ease-in-out;
  flex-direction: row;
}

.profile-image img {
  width: 100%;
  height: auto;
  max-width: 400px;
}

.profile-info {
  justify-content: space-around;
  align-items: space-around;
  padding: 10px;
  background-color: white;
  width: 50px;
  box-sizing: border-box;
  font-size: 15px;
}
.profile-info a {
  justify-content: space-around;
  text-decoration: none;
  color: #111;
  font-size: 1rem;
}

.profile-info h1 {
  justify-content: space-around;
  font-size: 2em;
  margin-bottom: 0.5em;
}

.profile-info h2 {
  justify-content: space-around;
  color: #555;
  margin-bottom: 1em;
}

.profile-info p {
  justify-content: space-around;
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.social-media {
  background-color: #003366;
  width: 100%;
  text-align: center;
  padding: 30px 30px;
  animation: fadeIn 2s ease-in-out;
}

.social-media a {
  margin: 0 10px;
}

.social-media img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}
/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Queries */
@media (min-width: 480px) {
  .profile-card {
    flex-wrap: nowrap;
  }
  .profile-info {
    width: calc(100% - 400px);
  }
}

@media (max-width: 480px) {
  .profile-card {
    flex-direction: column;
  }
  .profile-info {
    width: 100%;
  }
}
.na-title {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
.name {
  font-size: 50px;
}

.about-me {
  justify-content: center;
  background-color: #fff;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px;
}

.about-me h1 {
  font-size: 30px;
  margin-bottom: 0.5em;
}

.about-me p {
  font-size: 1em;
  color: #555;
}

/* Media Query for responsive design */
@media (max-width: 600px) {
  .about-me {
    padding: 1em;
  }

  .about-me h1 {
    font-size: 1.5em;
  }

  .about-me p {
    font-size: 0.875em;
  }
}

/* Timeline */
.timeline {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  position: relative;
  animation: fadeIn 5s ease-in-out;
}
.education-title {
  text-align: center;
  font-size: 30px;
}
.timeline-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
}

.timeline-year {
  flex: 0 0 100px;
  font-size: 18px;
  text-align: left;
  padding-top: 10px;
}

.timeline-content {
  flex: 1;
  background: white;
  padding: 20px;
  position: relative;
  border-left: 2px solid black;
}

.timeline-content h2,
.timeline-content h3,
.timeline-content h1 {
  margin: 0 0 10px;
}

.timeline-content h3 {
  font-weight: normal;
  color: #666;
}

.timeline-content p {
  margin: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .timeline {
    width: 90%;
  }
  .timeline-item {
    flex-direction: column;
  }
  .timeline-year {
    text-align: center;
    padding-top: 0;
    margin-bottom: 10px;
  }
  .timeline-content {
    border-left: none;
    border-top: 2px solid black;
  }
}

/* Skills */
.skill {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #1c305c;
  padding: 20px;
  color: #fff;
}

.skills-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.skills-title {
  font-size: 2em;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  animation: slideUp 2s ease-in-out;
}

.skills-item {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(33.333% - 40px);
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .skills-container {
    width: 90%;
  }

  .skills-item {
    flex: 1 1 calc(50% - 40px);
  }
}

@media (max-width: 480px) {
  .skills-item {
    flex: 1 1 100%;
  }
}

/* Connect Section */
.Form_title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 45px;
  background-color: white;
}

.info-container {
  font-family: Arial, Helvetica, sans-serif;
  padding: 80px;
  background-color: #ffffff;
}
.info-container a {
  justify-content: space-around;
  text-decoration: none;
  color: #111;
  font-size: 1rem;
}

.info-container h2 {
  margin-top: 0;
  color: #2c0066;
}

.social-icon {
  background-color: white;
  margin-top: 10px;
}

.social-icon a {
  margin-right: 10px;
}

.social-icon img {
  width: 24px;
  height: 24px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }

  .form-container,
  .info-container {
    margin: 10px 0;
  }
  .info-container {
    text-align: left;
    justify-content: left;
  }
  .input-group label {
    font-size: 14px;
  }
  .input-group input,
  .input-group textarea {
    padding: 8px;
  }
  button {
    padding: 8px 12px;
  }
  .social-icon img {
    width: 20px;
    height: 20px;
  }
  .social-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
